*{
    margin: 0;
    padding: 0;
}
.login{
background-color: rgb(255, 255, 255);
width: 100%;
height: 639px;
}
fieldset{
background-color: rgb(255, 255, 255);
height: 639px;
width: 100%;
display: grid;
grid-template-columns: repeat(3,33.3%);
grid-template-rows: repeat(1,100%);
border-style: none;
box-shadow: 5px 5px solid black;
}
.first-child{
background-color: rgb(255, 255, 255);
height: 100%;
width: 100%;
border-radius: 1%;
text-align: center;
font-size: large;

}
.midle-child{
background-color: rgb(252, 252, 252);
height: 95%;
width:100%;
margin-top: 4%;
font-size: large;
box-shadow: 10px 10px 10px 7px rgb(59, 59, 59);

}
.last-child{
background-color: rgb(255, 0, 0);
height: 100%;
width:  100%;
border-radius: 1%;
text-align: center;
font-size: large;
}
h1{
font-size: 40px;
color: #629abb;
margin-left: 50px;
font-family:Arial, Helvetica, sans-serif ;
}
.x{
height: 40px;
width: 30px;
margin-left: 370px;
margin-top: 20px;
font-size: 30px;
color: #797979;
background-color: white;
border: none;
}

.barra{
border-radius: 1px;
background-color: #e2e2e2;
color: white;
text-shadow: 2px 1px gray;
border: none;
}
.a{
margin-top: 40px ;
}

.entrar{
height: 30px;
width: 100px;
font-size: 20px;
font-family:Arial, Helvetica, sans-serif ;
}
.digiteuser{
    margin-left: 50px;
    font-size: 18px;
    margin-top: 200px;
color: #878787;
font-family:Arial, Helvetica, sans-serif ;
}
.barrauser{
margin-top: 3px;
margin-left: 50px;
height: 40px;
width: 350px;
font-family:Arial, Helvetica, sans-serif ;
}
.afastar{
margin-top: 30px;    
}
.exibirsenha{
margin-left: 293px;
margin-top: 20px;
font-family:Arial, Helvetica, sans-serif ;
}
.corcinza{
color: #878787;
font-family:Arial, Helvetica, sans-serif ;
}
.corpreto{
    color: #000000;
    text-shadow: none;
    }
.entrar{
margin-left: 11%;
margin-top: 18px;
height: 40px;
width: 350px;
background-color: #2f5596;
border: none;
color: white;
font-family:Arial, Helvetica, sans-serif ;
}
p{
margin-left: 32%;
margin-top: 30px;
color: #878787;
font-size: 20px;
margin-bottom: 20px;
font-family:Arial, Helvetica, sans-serif ;
}
a{
color: #2d4662;
text-decoration: none;
margin-left: 35%;
font-size: 21px;
font-family:Arial, Helvetica, sans-serif ;
}
.b{
color: #2d4662;
text-decoration: none;
margin-left: -5%;
font-size: 21px;
font-family:Arial, Helvetica, sans-serif ;
}